<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the pattern layout for console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{1}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Logger configuration for specific packages/classes -->
    <logger name="org.services.BookingManager" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.techtaskapp.Application" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
